<!-- header start here -->
<div id="header"></div>
<!-- header end here -->
<section class="not_found">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="notfound_bg">
          <h1>404</h1>
          <img
            class="bulb"
            src="../../../assets/images/error/bulb.png"
            alt="Bulb"
          />
          <img
            class="vector"
            src="../../../assets/images/error/vector.png"
            alt="Vector"
          />
        </div>

        <div class="col-sm-8 mx-auto notfound_content">
          <h2>Page Not Found</h2>

          <a href="/" class="btn btn-danger rounded-pill px-5">
            Back to Homepage
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /. not_found -->
