<app-navbar></app-navbar>

<section class="nearJoblist nearJob">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 nearcol">
        <h1>About Us</h1>
        <h2 class="text-red">Trusted and dependable</h2>
      </div>
    </div>
  </div>
</section>
<section class="contacts">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 pt-md-5 mx-auto pt-sm-0">
        <p class="pt-3">
          Our company provides health care staffing solutions to our customers.
          We believe our customers have the right to high quality health care.
          Our team is ready to work with you and meet your organizational health
          care needs. We put our clients first and treat our employees well.
          This is a crucial step to fostering lasting partnerships.
        </p>
      </div>
    </div>
  </div>
</section>
<br />

<app-footer></app-footer>
