<app-navbar></app-navbar>

<section class="nearJoblist nearJob">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 nearcol">
        <h1>Services</h1>
        <h2 class="text-red">Trusted and dependable</h2>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="section-block-grey">
    <div class="container">
      <div class="row mt-60">
        <div class="col-md-4 col-sm-12 col-12">
          <div class="serv-section-2">
            <div class="serv-section-2-icon"><i class="fas fa-gem"></i></div>
            <div class="serv-section-desc">
              <h4>Registered Nurse <br />(RN)</h4>
            </div>
            <div class="section-heading-line-left"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <div class="serv-section-2 serv-section-2-act">
            <div class="serv-section-2-icon serv-section-2-icon-act">
              <i class="fas fa-cogs"></i>
            </div>
            <div class="serv-section-desc">
              <h4>
                Registered Practical <br />
                Nurse (RPN)
              </h4>
            </div>
            <div class="section-heading-line-left"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <div class="serv-section-2">
            <div class="serv-section-2-icon">
              <i class="fas fa-signature"></i>
            </div>
            <div class="serv-section-desc">
              <h4>Personal support worker<br />(psw)</h4>
            </div>
            <div class="section-heading-line-left"></div>
          </div>
        </div>
      </div>
      <div class="row mt-60">
        <div class="col-md-4 col-sm-12 col-12">
          <div class="serv-section-2">
            <div class="serv-section-2-icon">
              <i class="fas fa-shield-alt"></i>
            </div>
            <div class="serv-section-desc">
              <h4>HouseKeeping</h4>
            </div>
            <div class="section-heading-line-left"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <div class="serv-section-2 serv-section-2-act">
            <div class="serv-section-2-icon serv-section-2-icon-act">
              <i class="far fa-clock"></i>
            </div>
            <div class="serv-section-desc">
              <h4>Dietary Aide</h4>
            </div>
            <div class="section-heading-line-left"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <div class="serv-section-2">
            <div class="serv-section-2-icon">
              <i class="fas fa-signature"></i>
            </div>
            <div class="serv-section-desc">
              <h4>Customer Support</h4>
            </div>
            <div class="section-heading-line-left"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /. contactForm -->

<app-footer></app-footer>
