<!-- banner start here -->
<div class="banner">
  <app-navbar></app-navbar>
  <section class="homePage">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1>SPARKS GROUP</h1>
          <h2 class="text-red">Trusted and dependable</h2>
          <p>
            specializing in Short-term and Long-term Staffing solutions for
            Long-term Care Homes. Offering Registered Nurses, Registered
            Practical Nurses, Personal Support Workers, Dietary Support and
            Housekeeping Services
          </p>
          <button class="btn btn-danger">Contact Us</button>
        </div>
      </div>
      <!-- row -->
      <div class="row">
        <div class="col-sm-8">
          <div class="socialImage"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- homePage -->
</div>
<!-- banner end here -->

<section class="jobPart">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="jobImage">
          <div class="image-card">
            <img
              class="w-100"
              src="../../../assets/images/1520148314057.jpg"
              alt="Job"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-8 pt-md-4 pt-sm-0">
        <h1>Who We Are</h1>
        <h2 class="text-red">SPARKS GROUP</h2>
        <p class="py-3">
          Our company provides health care staffing solutions to our customers.
          We believe our customers have the right to high quality health care.
          Our team is ready to work with you and meet your organizational health
          care needs.
        </p>
        <p>
          We put our clients first and treat our employees well. This is a
          crucial step to fostering lasting partnerships.
        </p>
        <a routerLink="/about">
          <button class="btn btn-danger">About Us</button></a
        >
      </div>
    </div>
  </div>
</section>
<!-- jobPart end here -->
<section class="explore" style="background-color: #c9c9c9">
  <div class="container-fluid">
    <h3 class="text-center">Services</h3>
    <p class="text-center">
      specializing in Short-term and Long-term Staffing solutions for Long-term
      Care Homes. <br />
      Offering Registered Nurses, Registered Practical Nurses, Personal Support
      Workers, Dietary Support and Housekeeping Services
    </p>
    <br />
    <div class="row pb-5">
      <div class="col-sm-4 mb-4">
        <a href="#">
          <div class="exoInner">
            <i class="fas fa-bar-chart" aria-hidden="true"></i>
            <h4>Registered Nurse(RN)</h4>
          </div>
        </a>
      </div>
      <div class="col-sm-4 mb-4">
        <a href="#">
          <div class="exoInner">
            <i class="fa-regular fa-file-lines"></i>
            <h4>Registered Practical Nurse(RPN)</h4>
          </div>
        </a>
      </div>
      <div class="col-sm-4 mb-4">
        <a href="#">
          <div class="exoInner">
            <i class="fas fa-briefcase" aria-hidden="true"></i>
            <h4>Personal support worker(psw)</h4>
          </div>
        </a>
      </div>
      <div class="col-sm-4 mb-4">
        <a href="#">
          <div class="exoInner">
            <i class="fas fa-globe" aria-hidden="true"></i>
            <h4>HouseKeeping</h4>
          </div>
        </a>
      </div>
      <div class="col-sm-4 mb-4">
        <a href="#">
          <div class="exoInner">
            <i class="fas fa-globe" aria-hidden="true"></i>
            <h4>Dietary Aide</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
