<app-navbar></app-navbar>

<section class="nearJoblist nearJob">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 nearcol">
        <h1>Contact Us</h1>
        <h2 class="text-red">Trusted and dependable</h2>
      </div>
    </div>
  </div>
</section>

<section class="contacts">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 mb-4">
        <a href="javascript:void(0);">
          <div class="contInner">
            <i class="fa fa-map" aria-hidden="true"></i>
            <h4>Address</h4>
            <p>228-5 Main Street, Georgia.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-4 mb-4">
        <a href="javascript:void(0);">
          <div class="contInner">
            <i class="fa fa-envelope-open" aria-hidden="true"></i>
            <h4>E-mail</h4>
            <p>contact.jp@gmail.com</p>
          </div>
        </a>
      </div>
      <div class="col-sm-4 mb-4">
        <a href="javascript:void(0);">
          <div class="contInner">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <h4>Phone Number</h4>
            <p class="f_rubik">+61589-35968</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /. contacts -->

<section class="contactForm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <p>Have A Question ?</p>
        <h3>Get in <span class="text-red">Touch Now?</span></h3>

        <form class="form" method="post">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                placeholder="User Name"
                value=""
                required
              />
            </div>
            <div class="col-sm-6 form-group">
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                placeholder="Email Address"
                value=""
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <input
                type="text"
                name="subject"
                id="subject"
                class="form-control"
                placeholder="Subject"
                value=""
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <input
                type="text"
                name="write"
                class="form-control"
                placeholder="Write your Message"
                value=""
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="mb-3">
              <div class="checkbox">
                <input
                  type="checkbox"
                  name="accept"
                  class="form-check-input"
                  id="accept"
                  required
                />
                <label class="form-check-label" for="accept"
                  >Accept Term & privacy Policy</label
                >
              </div>

              <input
                type="submit"
                name="submit"
                id="sendMsg"
                class="btn btn-danger rounded-pill"
                value="Send Message"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- /. contactForm -->

<app-footer></app-footer>
