<!-- footer start here -->
<div id="footerDiv">
  <div id="footerWrapDiv" style="background-color: #0d0d0d; width: 100%">
    <div id="footerMenuWrap">
      <div id="footerPart">
        <h4>Useful links</h4>
        <ul>
          <li><a class="footer-link" href="/">Home</a></li>
          <li>
            <a class="footer-link" href="/about">About Us</a>
          </li>
          <li><a class="footer-link" href="/services">Services</a></li>
          <li>
            <a class="footer-link" href="/carea" target="_blank"
              >Job Vacancies</a
            >
          </li>
          <li><a class="footer-link" href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>

    <div id="rights">&copy Sparks Group 2023 | All Rights Reserved.</div>
  </div>
</div>
